<app-header></app-header>


<div class="row" style="justify-content: center;">
    <div class="col-md-2">Class Short Name</div>
    <div class="col-md-2">
        <input type="text" [(ngModel)]="class_short_name" placeholder="Enter class short name" class="form-control">
    </div>
    <div class="col-md-2">Class Full Name</div>
    <div class="col-md-2">
        <input type="text" [(ngModel)]="class_full_name" placeholder="Enter class full name" class="form-control">
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" (click)="AddClass()"  [disabled]="class_short_name == ''  || class_full_name == '' ">Add Class</button>
    </div>
   
</div> <br>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table>
        <tr>    <th>Class Short Name</th>
            <th>Class Full Name</th></tr>
           <tr *ngFor="let data of getClass">
            <td>{{data.class_shortName}} </td>
            <td>{{data.class_fullName}}</td>
           </tr>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>  <br>

<app-footer></app-footer>