<div class="row" style="background: black; height: 40px;">
    <div class="col-md-6">
      
    </div>
    
    <div class="col-md-6" style="text-align: right;">
        <span style="color: white; margin-right: 25px;">{{userName}}</span>
        <span><Button class="btn btn-link">Logout</Button></span>
    </div>
</div>


<div class="row" style="background: cadetblue; padding-top: 15px; padding-bottom: 15px; font-weight: bold;">
    <!-- <div class="col-md-1">Home</div>
    <div class="col-md-1">All Student</div>
    <div class="col-md-1">ETC</div> -->
    <div class="col-md-12">
        <div style="margin-left:150px">
            <span [routerLink]="['/dashboard']">     Home    </span> |
            <span [routerLink]="['/students']">  Students</span>  |
            <span [routerLink]="['/school']">  School </span>  |
            <span [routerLink]="['/class']">  Class </span>  |
            <span [routerLink]="['/university']">  University</span>
        </div>
    </div>
</div>  <br>


<div class="row" style="justify-content: center;">
    <div class="col-md-2">Class Short Name</div>
    <div class="col-md-2">
        <input type="text" [(ngModel)]="class_short_name" placeholder="Enter class short name" class="form-control">
    </div>
    <div class="col-md-2">Class Full Name</div>
    <div class="col-md-2">
        <input type="text" [(ngModel)]="class_full_name" placeholder="Enter class full name" class="form-control">
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" (click)="AddClass()"  [disabled]="class_short_name == ''  || class_full_name == '' ">Add Class</button>
    </div>
   
</div> <br>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table>
        <tr>    <th>Class Short Name</th>
            <th>Class Full Name</th></tr>
           <tr *ngFor="let data of getClass">
            <td>{{data.class_shortName}} </td>
            <td>{{data.class_fullName}}</td>
           </tr>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>  