<div style="position: relative;">
<div class="bg-image"><img src="../../assets/img/dubai1.jpg" style="height: 100%; width: 100%;"></div>
</div>
   <div style="padding-top: 200px;">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <label for="">Email</label>
      <input type="text" placeholder="Enter Email ... "  [(ngModel)]="email" class="form-control">
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <label for="">Password</label>
      <input type="password" placeholder="Enter Password ... " [(ngModel)]="password" class="form-control">
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-12" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">
      <button class="btn btn-primary " (click)="login()" [disabled]="email == '' || password == '' ">Login (User)</button>
      <button style="margin-left: 10px;" (click)="login_admin()"  class="btn btn-warning "  [disabled]="email == '' || password == '' ">Login (Admin)</button>
      <button class="btn btn-link" [routerLink]="['/register']" style="color: white; font-weight: bold;">Register</button>
    </div>
  </div>
</div>  
 
