<app-header></app-header>
<div class="row" style="justify-content: center;">
    <div class="col-md-2">School Name</div>
    <div class="col-md-2">
        <input type="text" [(ngModel)]="school_name" placeholder="Enter school name" class="form-control">
    </div>
    <div class="col-md-2">City Name</div>
    <div class="col-md-2">
        <input type="text" [(ngModel)]="city_name" placeholder="Enter city name" class="form-control">
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" (click)="addSchool()" [disabled]="school_name == ''  || city_name == '' || disbl ">Add School</button>
        <button class="btn btn-success"  [disabled]="updatedisbl" (click)="updateSchool()">Update</button>
    </div>
   
</div> <br>

<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table>
            <tr>    <th>School Name</th>
                <th>City Name</th>
                <th>Action</th>
            </tr>
               <tr *ngFor="let data of allSchooldata">
                <td>{{data.school_name}} </td>
                <td>{{data.city}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="delete(data.id)">Delete</button>
                    <button class="btn btn-primary btn-sm" (click)="edit(data)">Edit</button>
                </td>
               </tr>
            </table>
        </div>
        <div class="col-md-3"></div>
</div>  <br>


<app-footer></app-footer>